
<div class="section row align-vertically">
	<div>
		<img class="icon" src="assets/img/logo/logo-black.min.svg" />
	</div>
	<div class="margin-left">
		<span *ngIf="datasets?.length">
			You have a <a routerLink="/datasets">{{ datasets?.length }} datasets</a>
		</span>
		<span *ngIf="!datasets?.length">
			You have a no datasets
			<button mat-raised-button color="primary" (click)="createDataset()">
				<mat-icon>add</mat-icon>
				<span>Create Dataset</span>
			</button>
		</span>
	</div>
</div>

<div class="section row align-vertically">
	<div>
		<img class="icon" src="/assets/img/icons/swagger.min.svg" />
	</div>
	<div class="margin-left">
		Swagger API documentation:
		<a href="{{ swaggerUrl }}">{{ swaggerUrl }}</a>
	</div>
</div>

<div class="section row align-vertically">
	<div>
		<img class="icon" src="/assets/img/icons/github.png" />
	</div>
	<div class="margin-left">
		Source code and documentation: <a href="https://github.com/fjaderboll/datahub">github.com/fjaderboll/datahub</a>
	</div>
</div>
