.mat-tab-group {
	width: 70vw;
}

.links {
	margin-bottom: 0.5em;
}
.links .icon {
	width: 58px;
	text-align: center;
	padding-right: 10px;
}
.links .icon img {
	height: 48px;
}

.mat-elevation-z8 {
	display: inline-block;
}