RewriteEngine On
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
RewriteRule "^$" - [L]
RewriteRule "index.html" - [L]
RewriteRule "swagger.json" - [L]
RewriteRule "swagger/" - [L]
RewriteRule "" app/main.php [L]
