<app-breadcrumb [links]="['/nodes']" [names]="['Nodes']"></app-breadcrumb>

<div class="row margin-top align-right">
	<div>
		<button mat-raised-button color="primary" (click)="createNode()">
			<mat-icon>add</mat-icon>
			<span>Create Node</span>
		</button>
	</div>

	<div *ngIf="totalSensorCount > 0" class="margin-left">
		<button mat-raised-button color="primary" (click)="visualizeReadings()">
			<mat-icon>show_chart</mat-icon>
			<span>Visualize</span>
		</button>
	</div>
</div>

<div class="mat-elevation-z8 margin-top">
	<table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let node">
				<a routerLink="/nodes/{{ node.name }}">
					{{ node.name }}
				</a>
			</td>
		</ng-container>

		<ng-container matColumnDef="sensorCount">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor Count</th>
			<td mat-cell *matCellDef="let node">{{ node.sensorCount }}</td>
		</ng-container>

		<ng-container matColumnDef="lastReadingTimestamp">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Reading</th>
			<td mat-cell *matCellDef="let node" [class.not-set]="!node.lastReadingTimestamp">{{ utils.getRelativeTime(node.lastReadingTimestamp) || 'No readings' }}</td>
		</ng-container>

		<ng-container matColumnDef="desc">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
			<td mat-cell *matCellDef="let node" [class.not-set]="!node.desc">{{ node.desc || 'Not set' }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<div [hidden]="dataSource.data.length <= 10">
		<mat-paginator [pageSizeOptions]="[10, 100]"></mat-paginator>
	</div>
</div>
