<app-breadcrumb *ngIf="auth.isAdmin()" [links]="['/users', '/users/' + user?.username]" [names]="['Users', user?.username]"></app-breadcrumb>
<app-breadcrumb *ngIf="!auth.isAdmin()" [links]="['/users/' + user?.username]" [names]="[user?.username]"></app-breadcrumb>

<dl class="list">
	<dt>Username</dt>
	<dd>{{ user?.username }}</dd>

	<dt>E-mail</dt>
	<dd>
		<app-inline-edit type="text" [value]="user?.email" (onChange)="changedValue('email', $event)"></app-inline-edit>
	</dd>

	<dt>Administrator</dt>
	<dd>
		<app-inline-edit type="boolean" [value]="user?.admin" (onChange)="changedValue('admin', $event)" [disabled]="!auth.isAdmin()"></app-inline-edit>
	</dd>

	<dt>Datasets</dt>
	<dd>
		<div>{{ user?.datasets.length }}</div>
		<div *ngFor="let dataset of user?.datasets">
			<span *ngIf="auth.getUsername() !== user?.username">{{ dataset.name }}</span>
			<span *ngIf="auth.getUsername() === user?.username">
				<a routerLink="/datasets/{{ dataset.name }}">{{ dataset.name }}</a>
			</span>
		</div>
	</dd>

</dl>

<div *ngIf="auth.isAdmin() && auth.getUsername() !== user?.username" class="margin-top">
	<button mat-raised-button color="primary" (click)="impersonate()">
		<mat-icon>person</mat-icon>
		<span>Impersonate</span>
	</button>
</div>
