
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table .mat-header-cell,
.mat-table .mat-cell {
	padding: 1em;
}

.mat-button-base .mat-icon {
	margin-right: 0.25em;
}

.align-right {
	text-align: right;
}
.margin-bottom {
	margin-bottom: 1.5em;
}
