
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table .mat-header-cell,
.mat-table .mat-cell {
	padding: 1em;
}

.mat-button-base .mat-icon {
	margin-right: 0.25em;
}

.align-right {
	text-align: right;
}

.margin-top {
	margin-top: 1.5em;
}
.margin-bottom {
	margin-bottom: 1.5em;
}

dl.list {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 15px;
}
dl.list > dt {
	font-weight: 500;
}
dl.list > dt::after {
	content: ":"
}
dl.list > dd {
	font-weight: normal;
}
dl.list > dd:empty::after {
	content: "-";
}
